* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Tahoma, sans-serif;
}

.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(3, 169, 244, 0.9);
}

.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #f44336;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.info {
    width: 1080px;
    margin: 20px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.info .name span,
.info .tries span,
.info .clicks span {
    color: #2196f3;
}

.memory-game-blocks {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto;
}

.memory-game-blocks .no-clicking {
    pointer-events: none;
}

.memory-game-blocks .game-block {
    height: 200px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;
}

.memory-game-blocks .game-block .front::before {
    content: "!";
    color: white;
    font-size: 140px;
    font-weight: bold;

}

.memory-game-blocks .game-block .front {
    background-color: #333;
    line-height: 200px;
}

.memory-game-blocks .game-block .back {
    background-color: #607d8b;
    transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
    width: 140px;
    height: 140px;
    margin-top: 30px;
}


.memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
}

.memory-game-blocks .game-block.flip,
.memory-game-blocks .game-block.match {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}